body {
    font-family:  Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    padding: 50px;
    background-color: #70808f;
}

h1 {
  color: green;
}

.header {
    padding: 0 0 40px 0;
}

.footer {
    padding: 20px 0 0 10px;
    color: #EEE;
    float: left;
}

.gbm-login {
    padding: 60px 0;
}

.gbm-login form {
    margin: 0 auto;
    max-width: 320px;
}

.GBMGraph {
    opacity: 1;
    animation-name: fadeInGraph;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInGraph {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.waiting {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    bottom: 0;
}

.loading {
    width: 160px;
    height: 185px;
    position: absolute;
    top: -50px;
    bottom: 0;
    left: 27px;
    right: 0;
    margin: auto;
    background-image: url("../assets/loading.gif");
}
